<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Vuelos Disponibles</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
</head>
<body>
    <div class="container">
        <h1>Vuelos Disponibles</h1>
        <form method="POST">
            <div class="form-group">
                <label for="flight_iata">Buscar por IATA:</label>
                <input type="text" class="form-control" id="flight_iata" name="flight_iata">
            </div>
            <button type="submit" class="btn btn-primary">Buscar</button>
        </form>
        <table class="table">
            <thead>
                <tr>
                    <th>Número de Vuelo</th>
                    <th>Aerolínea</th>
                    <th>Origen</th>
                    <th>Destino</th>
                    <th>Estado</th>
                </tr>
            </thead>
            <tbody>
                {% for flight in vuelos %}
                <tr>
                    <td>{{ flight.flight.number }}</td>
                    <td>{{ flight.airline.name }}</td>
                    <td>{{ flight.departure.airport }}</td>
                    <td>{{ flight.arrival.airport }}</td>
                    <td>{{ flight.flight_status }}</td>
                    <td>{{ flight.live.latitude }}</td>
                    <td>{{ flight.live.longitude }}</td>
                </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>
</body>
</html>